/*
  ========================================
  MAIN
  ========================================
*/
* {
    font-family: Montserrat, 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
:root {
    --animate-delay: 1s;
}
/*
  ========================================
  TYPOGRAPHY
  ========================================
*/
h1, h3, h4, h5, p {
    margin-bottom: 22px;
}
h1 {
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
strong {
    font-weight: 400;
}
cite,
em {
    font-style: italic;
}
.display-4 {
    font-weight: 700 !important;
}


/*
  ========================================
  NAVBAR
  ========================================
*/
.navbar {
    box-shadow: 0 8px 22px rgb(0,0,0,0.8) !important;
    background-color: #293f50;
}
.social-media {
    padding: 10px 0 10px 70px;
}
.navbar-brand {
    font-size: 34px !important;
    letter-spacing: 3px;
    text-shadow: 2px 2px blue;
}
.nav-link {
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* Navbar links underline */
.nav-link:after {
    display:block;
    content: '';
    border-bottom: solid 3px red;
    transform-origin:0 0;
    transform: scaleX(0.000001);
    transition: transform 250ms ease-in-out;
}
.nav-link:hover:after{
    transform: scaleX(1);
}
/* Hamburger - remove border */
.navbar-dark,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(255,255,255, 0) !important;
}
.navbar-brand{
    font-family: 'Raleway', sans-serif;
}

/* Social Media Icons */
#social-media-icons {
    text-decoration: none;
}
.fa-facebook {
    color: #1877F2;
}
.fa-instagram {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube {
    color: red;
}
.fa-whatsapp  {
    color: #25d366;
}
#social-media-icons:hover {
    filter: brightness(120%);
    font-size: 101%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#linkedin-icon:hover {
    filter: brightness(180%);
    font-size: 101%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

/*
  ========================================
  JUMBOTRON
  ========================================
*/
.jumbotron {
    color: white;
    background-image: url(images/jumbotron.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 2;
}
.jumbotron::after { /* Jumbotron overlay */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.jumbotron h1 {
    text-shadow: 3px 3px rgba(9, 1, 255, 0.8) !important;
    text-transform: uppercase;
}


/*
  ========================================
  ABOUT US
  ========================================
*/
.header {
    padding-left: 15px;
}
#about-us {
    padding-top: 80px;
}
.abt-img-small {
    display: none;
}
#about-us h2 {
    text-transform: uppercase;
    color: #648880;
}
#about-us h5 {
    color: #a9b2b9 !important;
    font-weight: 400 !important;
    text-transform: uppercase;
}
#about-us p {
    color: #888;
}
#about-us p a {
    font-style: italic;
    text-decoration: underline;
}
.img-name {
    padding-top: 10px;
}

/*
  ========================================
  TESTIMONIAL
  ========================================
*/
#testimonial {
    padding-top: 70px;
    background-color: #E6E6E6;
}
#testimonial h2 {
	color: #648880;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
#testimonial h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #db584e;
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}
#testimonial h5 {
    color: #a9b2b9 !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    text-align: center;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


/*
  ========================================
  CONTACT US FORM
  ========================================
*/
#contact-us {
    padding: 100px;
}
#contact-us h2 {
    color: #648880;
	text-align: center;
	text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    padding-bottom: 20px;
}
.form-headers {
    color: #648880;
    text-transform: uppercase;
}
.req-msg {
    color: #648880;
    margin-top: 20px; 
    font-weight: bold;
}
.form-group textarea::placeholder,
.form-group input::placeholder {
    font-style: italic;
    font-size: 15px;
}
.form-group input::data-error {
    color: red;
}
/* Makes recaptcha responsive*/
.g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}


/*
  ========================================
  FOOTER
  ========================================
*/
#footer {
    background-color: #E6E6E6;
}
#copyright {
    background-color: #293f50;
}
#newsletter {
    font-style: italic;
}












/*
  ========================================
  MEDIA QUERIES
  ========================================
*/

@media (max-width: 1199px) {
    .fa-facebook {
        color: #1877F2;
        filter: brightness(100%);
    }
    .fa-instagram {
        background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: brightness(100%);
    }
    .fa-youtube {
        color: red;
        filter: brightness(100%);
    }

    /* Contact us */
    #google-map {
        padding-bottom: 25px;
    }
    #contact-us {
        padding: 50px 5%;
    }
}

/*Bootstrap size lg*/
@media (max-width: 991px) {
    .social-media {
        padding: 10px 0;
        text-align: center;
    }
    .abt-img-large {
        display: none;
    }
    .abt-img-small {
        display: block !important;
        padding-top: 50px;
    }
}

/*Bootstrap size md*/
@media (max-width: 767px) {    

}

/*Bootstrap size sm*/
@media (max-width: 575px) {
    #about-us {
        padding-top: 20px;
    }
    #testimonial {
        padding-top: 20px;
    }
    #contact-us {
        padding: 50px 0;
    }   
}

